* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

 *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'MyriadPro-Regular', sans-serif;
}

.main {
  padding: 25px 150px;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

/* ----------HEADER---------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 200px;
}

.nav__container {
  flex-basis: 40%;
}

.nav_list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
  font-weight: 400;
}

.nav-item {
  color: #6c6c6c;
  text-decoration: none;
}

.nav-item:hover {
  border-bottom: 3px solid #5094f2;
  padding-bottom: 35px;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
  background: url('../img/banner.png') no-repeat center;
  background-size: cover;
}

/*  ----------MAIN---------- */

.description {
  max-width: 500px;
  margin: 284px -206px 0px 168px;
}

.description_title {
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
}

.description_text {
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  line-height: 44.42px;
  max-width: 250px;
}

.sign-up-btn {
  padding: 12px 10px 10px 45px;
  margin-top: 35px;
  color: #ffffff;
  font-size: 20px;
  background-color: #5094f2;
  border: none;
  cursor: pointer;
  position: relative;
}

.sign-up-btn::before {
  content: '';
  display: block;
  height: 23px;
  width: 23px;
  background: url('../img/Shape_2.png') no-repeat center;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

                                  /* SHOPTAGS */

.shop-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 50px auto;
}

.circle {
  border-radius: 50%;
  width: 185px;
  height: 185px;
  position: relative;
  margin: 0 auto;
}

.shoptag-link {
  color: #5094f2;
  text-decoration: none;
}

.blue {
  background-color: #5094f2;
}

.blue::before {
  content: '';
  display: block;
  height: 185px;
  width: 185px;
  background: url('../img/Shape_3.png') no-repeat center;
  position: absolute;
}

.red {
  background-color: #d94748;
}

.red::before {
  content: '';
  display: block;
  height: 185px;
  width: 185px;
  background: url('../img/Shape_6.png') no-repeat center;
  position: absolute;
}

.yellow {
  background-color: #ebbb11;
}

.yellow::before {
  content: '';
  display: block;
  height: 185px;
  width: 185px;
  background: url('../img/Shape_5.png') no-repeat center;
  position: absolute;
}

.shop-tag {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.shop-tag_title {
  color: #5094f2;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
}
.shop-tag_text {
  padding-top: 10px;
  max-width: 80%;
  color: #909090;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
}

.shopping-cart-container {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.shopping-cart-img_title {
  flex-basis: 100%;
  color: #6f7173;
  font-size: 42px;
  font-weight: 400;
  margin-left: 80px;
  padding-bottom: 35px;
}

.cart {
  width: 370px;
  margin-left: 66px;
  margin-top: 15px;
}

.cart-text {
  width: 450px;
  margin-right: 100px;
}

.cart_title {
  font-size: 26px;
  color: #6f7173;
  font-weight: 400;
  margin-bottom: 35px;
}

.cart_subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  color: #909090;
  text-align: justify;
}

.copy {
  color: #909090;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

footer {
  border-top: 1px solid #e6e6e6;
  padding-top: 40px;
  padding-bottom: 40px;
}

